{% extends 'base.html' %}

{% block content %}
<!-- Navbar -->
<nav class="bg-green-900 p-4 text-white fixed top-0 w-full z-50">
  <div class="container mx-auto flex justify-between items-center">
      <div class="text-xl">ComuCycle <i class="fa fa-refresh"></i></div>
      <a href="{% url 'item_create' %}" class="mr-4">+ Add item</a>
      <div class="flex items-center">
          <a href="{% url 'profile_edit' %}" class="mr-4">
              <i class="fa fa-user" aria-hidden="true"></i> Profile
          </a>
          <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class=" bg-green-700 px-2 rounded-md" type="submit">Logout</button>
          </form>
      </div>
  </div>
</nav>


<div class="container mx-auto flex justify-center items-center ">
    <div class="grid grid-cols-1 md:grid-cols-1 gap-4 pt-20">
      {% for item in items %}
      <div class="relative max-w-xl mt-10 bg-white rounded-lg overflow-hidden shadow-md inline-block py-5 px-10">
          
            <div class="absolute top-0 right-0 ">
                 <div class="py-1">
                             <form method="post" action="{% url 'item_delete' item.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-red-500 hover:text-white">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </form>
                </div>
            </div>
        
          <p class="text-gray-600 pb-3"><i class="fa fa-user" aria-hidden="true"></i> 
              {{ item.uploader.username }}
          </p>
          <a href="{% url 'item_detail' item.pk %}">
              {% if item.image %}
              <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full h-auto">
              {% else %}
              <div class="bg-gray-200 h-40"></div> <!-- Placeholder for no image -->
              {% endif %}
          </a>
          <div class="p-4">
              <h3 class="text-lg font-semibold">{{ item.name }}</h3>
              <p class="text-gray-700">{{ item.description|truncatechars:100 }}</p>
              <p class="text-gray-600">Category: {{ item.category }}</p>
              <p class="text-gray-600">Condition: {{ item.get_condition_display }}</p>
              <p class="text-gray-600">{{ item.created_at }}</p>
          </div>
      </div>
      {% endfor %}
      
</div>
{% endblock %}
