{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<p class="text-left text-3xl ml-10 text-green-900">ComuCycle <i class="fa fa-refresh"></i></p>
<div class="container mt-10 mx-auto flex justify-center items-center">
  <div class="w-full max-w-md bg-green-300 rounded-lg overflow-hidden shadow-md p-8">
    <h1 class="text-2xl font-semibold mb-6 text-center">Login</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label for="id_username" class="block text-gray-700 font-bold mb-2">Username</label>
        {{ form.username }}
      </div>
      <div class="mb-4">
        <label for="id_password" class="block text-gray-700 font-bold mb-2">Password</label>
        {{ form.password }}
      </div>
      
        <button type="submit" class="bg-green-900 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
          Login
        </button>
        <p class="mt-4 text-center"> If you dont have account.
        <a href="{% url 'register' %}" class="text-green-700 hover:underline">Register</a></p>

    </form>
  </div>
</div>
{% endblock content %}
